<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Jigsaw Puzzle Error Page</title>
</head>
<body>
    <hgroup>
        <h1>很好，新的Bug已经出现</h1>
        <h1>Good, new bugs have appeared</h1>
        <h2>处理你的请求时出错，请将此界面截图发给作者。</h2>
        <h2>There was an error processing your request. Please send a screenshot of this interface to the author.</h2>
    </hgroup>
    <p>为什么会有bug?我辛辛苦苦写的参数判断，为啥子会漏尿...</p>
</body>
</html>
